body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f7f0eb;
  padding-top: 116px;
}
html[dir="rtl"] body {
  font-family: "rb", sans-serif;
}
@media (max-width: 991px) {
  body {
    padding-top: 63px;
  }
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #cfa263;
  --main-hover: #7b7f85;
  --sec-color: #f9ddb6;
  --white-color: #ffffff;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-color: var(--main-color);
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
/*                          header section                     */
/*top header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: #f7f0eb;
  transition: all 0.3s ease-in-out;
}
.top-header a {
  text-decoration: none;
}
.show-icons {
  display: flex;
  align-items: center;
}
.show-icons .menu-bars {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  transition: all 0.3s ease-in-out;
}
.nav-header li a {
  color: var(--main-hover);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .nav-header li a {
  font-weight: 400;
}
.lang-ancor {
  font-family: "rb";
  font-weight: 400;
  color: var(--main-hover);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .lang-ancor {
  font-family: "poppins";
  font-weight: 500;
}
.nav-head .lang-ancor {
  color: var(--white-color);
  font-size: 18px;
  display: flex;
  justify-self: start;
  width: 100%;
}
.nav-header li a:hover {
  color: var(--main-color);
}
.nav-header li {
  margin-inline-end: 28px;
}
.nav-header li:last-of-type {
  margin-inline-end: 0;
}
.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.fixed-nav {
  background-color: var(--back-color);
  margin-top: -100%;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .nav-header {
  padding: 10px 15px;
}
.fixed-header {
  position: fixed;
}
.fixed-header .fixed-nav {
  margin: 0;
}
/* .fixed-nav .nav-header li a {
    color: var(--main-hover);
  }
  
  .fixed-nav .nav-header li a:hover {
    color: var(--back-color);
  } */
.fixed-nav .nav-header figure img {
  /* max-width: 70px; */
  width: 137px;
  transition: all 0.3s ease-in-out;
}
.nav-header figure {
  margin: 0;
}
.nav-header figure img {
  width: 137px;
  transition: all 0.3s ease-in-out;
}
.nav-head {
  height: 38px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.open-bars::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  color: var(--main-hover);
}
.close-bars::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  color: var(--white-color);
}
.add-to-cont {
  position: relative;
}
.add-to {
  position: relative;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: auto;
  font-size: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--main-hover);
  transition: all 0.3s ease-in-out;
}
.add-to:hover {
  color: var(--main-color);
}
.add-to-cont .dropdown-menu {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  inset-inline-end: 0;
  inset-inline-start: auto;
  border: none;
  border-radius: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  min-width: 330px;
  max-height: 400px;
  overflow: auto;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.add-to-cont:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.counter {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
}
html[dir="rtl"] .counter {
  font-weight: 400;
}
.add-to-cont .dropdown-menu {
  padding: 15px;
}
.add-to-cont li {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-to-cont li.dropdown-btn-cont {
  margin-top: 20px;
}
.cart-item .cart-figure {
  border: 1px solid rgb(237, 230, 225);
  max-width: 40px;
  margin-inline-end: 8px;
  flex-shrink: 0;
}
.add-to-cont .cart-img {
  width: 45px;
  height: 45px;
  max-width: 100%;
}
.add-to-cont .cart-name {
  font-weight: 500;
  font-size: 14px;
  color: var(--main-hover);
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
html[dir="rtl"] .add-to-cont .cart-name {
  font-weight: 400;
}
.cart-item {
  display: flex;
  align-items: center;
}
.add-to-cont .delete-btn {
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  margin-top: -15px;
  color: #cccccc;
}
.add-to-cont .delete-btn:hover {
  color: #e13138;
}
.add-to-cont .quotation-btn {
  width: 165px;
  height: 45px;
  border-radius: 22px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.add-to-cont .quotation-btn:hover {
  background-color: var(--main-hover);
}
.add-to-cont .continue-btn {
  width: 126px;
  height: 45px;
  border-radius: 22px;
  background-color: #e6e6e6;
  color: #999999;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .add-to-cont .quotation-btn,
html[dir="rtl"] .add-to-cont .continue-btn {
  font-weight: 400;
}
.add-to-cont .continue-btn:hover {
  background-color: var(--main-hover);
  color: var(--white-color);
}
@media (max-width: 767px) {
  .add-to-cont .dropdown-menu {
    inset-inline-end: -20px;
  }
}
/*                          header section                     */
/*                            main                           */
main {
  position: relative;
  height: 100%;
}
.main-cont-relative {
  position: relative;
}
main .main-cont {
  padding-inline-start: calc((100vw - 1170px) / 2);
}
.main-caption-cont {
  width: 70%;
  position: absolute;
  top: 50%;
  inset-inline-start: 0;
  transform: translateY(-50%);
}
html[dir="rtl"] .main-caption-cont {
  width: 58%;
}
.main-captions {
  text-decoration: none;
  font-size: 72px;
  color: var(--main-color);
  font-weight: 700;
  display: block;
  text-align: start;
  margin-bottom: 0;
  text-transform: capitalize;
  padding-inline-start: 30px;
}
.main-img-cont {
  width: 100%;
  margin-inline-end: 0;
}
.main-img-cont figure {
  margin: 0;
  max-width: 100%;
  height: calc(100vh - 116px);
}
.main-img-cont figure img {
  width: 100%;
  height: 100%;
}
/*button down*/
.header-scroll-down-butt {
  width: 22px;
  height: 45px;
  border-radius: 11px;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 11;
  background-color: transparent;
  padding: 0;
  display: block;
  margin: 0;
  outline: none !important;
  transition: 0.5s;
}
.header-scroll-down-butt:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 45%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5px;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  -webkit-animation-name: sdb10;
  animation-name: sdb10;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes sdb10 {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@media (max-width: 767px) {
  main,
  .main-cont-relative {
    height: 100%;
  }
  main .main-cont {
    padding-inline-start: 20px;
  }
  html[dir="rtl"] .main-caption-cont,
  .main-caption-cont,
  .main-img-cont {
    width: 100%;
  }
  main .main-captions {
    font-size: 34px;
    text-align: start;
    padding-inline-start: 20px;
  }
  .main-captions span {
    font-size: 20px;
  }
  .main-img-cont figure {
    max-width: 100%;
    height: 100%;
  }
  .header-scroll-down-butt {
    display: none;
    width: 20px;
    height: 40px;
  }
}
/*                            main                           */
/*                      about-us-section                      */
.about-us {
  padding: 125px 0 125px;
}
html[dir="rtl"] .about-us {
  padding: 125px 0 200px;
}
.about-us-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.about-contact {
  padding-top: 24px;
}
.about-heading {
  font-weight: 500;
  font-size: 48px;
  color: var(--main-color);
  margin-bottom: 65px;
  max-width: 65%;
  text-align: start;
}
html[dir="rtl"] .about-heading {
  font-weight: 400;
}
.about-span {
  font-weight: 700;
  font-size: 24px;
  color: var(--main-hover);
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
  text-align: start;
}
.about-us-pargh {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-hover);
  margin-bottom: 40px;
  text-align: start;
  max-width: 58%;
}
.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 55px;
  background-color: var(--main-color);
  text-decoration: none !important;
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  border-radius: 27px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .link-btn {
  font-weight: 400;
}
.link-btn i {
  margin-inline-start: 12px;
}
.link-btn:hover {
  color: var(--white-color);
  background-color: var(--main-hover);
}
.about-img-cont {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  width: 40%;
  height: 36.5em;
  display: flex;
  justify-content: flex-end;
}
.about-figure {
  max-width: 100%;
  margin-bottom: 0px;
}
.about-figure.up {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  width: 360px;
  height: auto;
  border-bottom: 8px solid #f7f0eb;
  border-inline-start: 8px solid #f7f0eb;
  z-index: 2;
}
.about-figure.down {
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  width: 236px;
  height: auto;
  z-index: 1;
}

@media (max-width: 991px) {
  html[dir="rtl"] .about-us,
  .about-us {
    padding: 20px 0 80px;
  }
  .about-contact {
    padding: 0;
    order: 2;
    margin-top: 30px;
  }
  .about-us-cont {
    flex-direction: column;
  }
  .about-heading {
    font-size: 25px;
    max-width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .about-span {
    font-size: 20px;
    text-align: center;
  }
  .about-us-pargh {
    text-align: center;
    font-size: 18px;
    max-width: 100%;
    margin-bottom: 35px;
  }
  .link-btn {
    width: 220px;
    height: 45px;
    font-size: 16px;
    margin: 0 auto;
  }
  .about-img-cont {
    order: 1;
    position: relative;
    height: 360px;
    width: 100%;
    margin-top: 10px;
  }
  .about-figure.up {
    max-width: 260px;
  }
  .about-figure.down {
    max-width: 160px;
  }
}
/*                      about-us-section                      */

/*                      services-section                      */
.services-section {
  padding: 0;
}
.services-head {
  font-weight: 500;
  font-size: 48px;
  color: var(--main-color);
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 65px;
  max-width: 95%;
  text-align: center;
}
html[dir="rtl"] .services-head {
  font-weight: 400;
}
.services-cont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.services-box {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.services-ancor {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  color: var(--white-color);
  font-weight: 600;
  font-size: 36px;
  width: 100%;
  text-transform: capitalize;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .services-ancor {
  font-weight: 700;
}
.services-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.services-ancor:hover .services-hover {
  background-color: rgba(207, 162, 99, 0.85);
  color: var(--white-color);
}
.services-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}
.services-img img {
  width: 100%;
}
@media (max-width: 767px) {
  .services-head {
    font-size: 26px;
    max-width: 100%;
    margin: 30px auto 40px;
  }
  .services-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .services-ancor {
    font-size: 22px;
  }
  .services-hover img {
    max-width: 115px;
  }
}
/*                      services-section                      */
/*                      gallery-section                      */
.gallery-section {
  padding: 115px 0;
  overflow: hidden;
}
.gallery-heading {
  font-weight: 500;
  font-size: 150px;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  margin: 6px 0;
}
html[dir="rtl"] .gallery-heading {
  font-weight: 400;
}

.gallery-cont .gallery-figure {
  margin: 0;
}
.gallery-cont .gallery .gallery-figure{
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
@media (min-width: 991px) {
  .gallery-cont {
    position: relative;
    display: flex;
    align-items: center;
  }
  .gallery-cont .gallery:first-of-type,
  .gallery-cont .gallery:last-of-type {
    width: 16.42857142857143%;
    margin-inline-end: 30px;
  }
  .gallery-cont .gallery:last-of-type {
    margin: 0;
  }
  .gallery-cont .gallery:first-of-type .gallery-figure,
  .gallery-cont .gallery:last-of-type .gallery-figure {
    overflow: hidden;
    padding-top: 100%;
    position: relative;
  }
  .gallery-cont .gallery:nth-of-type(2),
  .gallery-cont .gallery:nth-of-type(4) {
    width: 16.42857142857143%;
    margin-inline-end: 30px;
  }
  .gallery-cont .gallery:nth-of-type(2) .gallery-figure,
  .gallery-cont .gallery:nth-of-type(4) .gallery-figure {
    overflow: hidden;
    padding-top: 156.5217391304348%;
    position: relative;
  }
  .gallery-cont .gallery:nth-of-type(3) {
    width: 25.71428571428571%;
    margin-inline-end: 30px;
  }
  .gallery-cont .gallery:nth-of-type(3) .gallery-figure {
    overflow: hidden;
    padding-top: 63.88888888888889%;
    position: relative;
  }
}

.gallery-cont .gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery-img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover-gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(207, 162, 99, 0.85);
  z-index: 1;
  font-size: 60px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery:hover .hover-gallery {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 990px) {
  .gallery-section {
    padding: 80px 0 40px;
  }
  .gallery-heading {
    font-size: 34px;
    margin: 10px 0 40px;
  }
  .gallery-swiper-two{
    margin-top: 22px;
  }
  /* .gallery-cont {
    display: block;
    padding: 0 20px;
    height: 100%;
  } */
  /* .gallery-cont .gallery:first-of-type,
  .gallery-cont .gallery:last-of-type,
  .gallery-cont .gallery:nth-of-type(3),
  .gallery-cont .gallery:nth-of-type(2),
  .gallery-cont .gallery:nth-of-type(4) {
    width: 45%;
    margin: 0;
    transform: none;
    margin-bottom: 20px;
  }
  .gallery-cont .gallery:first-of-type,
  .gallery-cont .gallery:nth-of-type(3) {
    margin-inline-end: 20px;
  }
  .gallery-cont .gallery:first-of-type .gallery-figure,
  .gallery-cont .gallery:last-of-type .gallery-figure,
  .gallery-cont .gallery:nth-of-type(3) .gallery-figure,
  .gallery-cont .gallery:nth-of-type(2) .gallery-figure,
  .gallery-cont .gallery:nth-of-type(4) .gallery-figure {
    padding-top: 100%;
  } */
  .gallery-section .swiper-pagination {
    position: relative;
    display: none;
    width: 100%;
    bottom: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
  }

  @media (max-width: 991px) {
    .gallery-section .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .gallery-section .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: rgb(18, 17, 18);
    opacity: 0.5;
    margin: 0 5px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
  }

  .gallery-section .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--main-color);
  }

  .gallery-section
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--main-color);
    opacity: 1;
  }
}
/*                 gallery slider        */
/*                                   footer                            */
/*                                   footer                            */
footer {
  padding: 90px 0 55px;
}
.footer-heading {
  font-weight: 700;
  font-size: 36px;
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 50px;
  text-align: start;
}
.first-footer a {
  text-decoration: none !important;
}
.foot-header {
  padding: 0;
  margin: 0 0 25px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  color: var(--main-hover);
  text-align: start;
}
html[dir="rtl"] .foot-header {
  font-weight: 700;
}
.foot-address .foot-header {
  margin-bottom: 20px;
}
.foot-address .nav-foot-li {
  margin-bottom: 12px;
}
.nav-foot-li {
  margin-bottom: 10px;
}
.nav-foot-link {
  color: var(--main-hover);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  width: max-content;
  text-align: start;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.nav-foot-link span {
  text-align: start;
}
.nav-icon .nav-foot-link {
  display: flex;
  align-items: center;
}
.foot-address .footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: 500;
  font-size: 18px;
  width: 220px;
  height: 55px;
  border-radius: 27px;
  margin-bottom: 40px;
  background-color: var(--main-hover);
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .foot-address .footer-btn {
  font-weight: 400;
}
.foot-address .footer-btn:hover {
  background-color: var(--main-color);
}
.foot-address .footer-btn i {
  font-size: 24px;
  margin-inline-start: 20px;
}
html[dir="rtl"] .foot-address .footer-btn i {
  transform: scaleX(-1);
}
.nav-foot-link i {
  margin-inline-end: 20px;
  width: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.nav-foot-li .nav-foot-link:hover {
  color: var(--main-color);
}
.nav-foot-li span.nav-foot-link:hover {
  color: var(--main-hover);
}
.foot-address .nav-foot-li:first-of-type .nav-foot-link {
  margin-bottom: 20px;
}
.foot-contact .nav-foot-li {
  margin-bottom: 6px;
  text-align: start;
}
.foot-contact .nav-foot-link {
  text-transform: none;
}
.nav-underline {
  position: relative;
}
.nav-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #bfbdbc;
  transition: all 0.3s ease-in-out;
}
.copy-right-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #7b7f85;
}
.design-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #7b7f85;
}
.design-text i {
  color: var(--main-color);
  margin: 0 4px;
}
.design-text .taswak-img {
  max-width: 100%;
  margin-inline-start: 5px;
  image-rendering: -webkit-optimize-contrast;
}

/*                             footer accordion                 */
.footer-accordion.nav-foot-header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}
.news-letter .footer-panel {
  padding: 0;
}
.footer-accordion:after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 13px;
  transition: all 0.5s ease-out;
}
html[dir="rtl"] .footer-accordion:after {
  content: "";
}
.footer-accordion.active:after {
  transform: rotate(90deg);
}
html[dir="rtl"] .footer-accordion.active:after {
  transform: rotate(-90deg);
}
/*                             footer accordion                 */
@media (max-width: 991px) {
  footer {
    padding: 80px 0 40px;
  }
  .foot-header {
    font-size: 14px;
  }
  .nav-foot-link {
    font-size: 14px;
  }
  .nav-foot-cont {
    margin-bottom: 20px;
  }
  .first-footer .foot-address h2 {
    margin-bottom: 0;
  }
  .foot-address .footer-btn {
    margin: 0 0 30px;
  }
  .nav-underline {
    display: inline-flex;
  }
  .nav-foot-link {
    width: auto;
  }
  .copy-right-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .copy-right {
    margin-bottom: 10px;
  }
}
/*                                   footer                            */
/*                                    media query                                    */
/*                    menu in phone size                      */
.hide-bg {
  display: none;
}
@media (max-width: 991px) {
  .hide-sm {
    display: none;
  }
  .hide-bg {
    display: block;
  }
  .show-icons .menu-bars {
    display: block;
    position: relative;
    z-index: 300;
    width: 24px;
  }
  .fixed-nav .nav-header figure img,
  .nav-header figure img {
    max-width: 105px;
  }
  .nav-header,
  .fixed-nav .nav-header {
    padding: 10px 0;
  }
  .menu-bars {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-hover);
    transition: all 0.3s ease-in-out;
  }
  .menu-bars:hover {
    color: var(--main-color);
  }
  .add-to {
    margin-inline-end: 10px;
    font-size: 24px;
  }
  .counter {
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
  .nav-head .close-btn {
    color: #fff;
    font-size: 24px;
    display: none;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 15px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(207, 162, 99, 0.97);
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }
  .nav-head {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 18px 20px;
  }
  .nav-head .first-head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .nav-header .big-menu {
    display: block;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
    padding: 30px 20px 0;
  }
  .nav-header li {
    margin-right: 0;
  }
  html[dir="rtl"] .nav-header li {
    margin-left: 0;
  }
  .big-menu li {
    margin-bottom: 20px;
  }
  .chevron-down {
    line-height: unset;
  }
  .nav-header li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }
  .nav-header li a:hover {
    color: var(--white-color);
  }
  .big-menu>li:last-child {
    display: none;
  }
  /*                    menu in phone size                      */
}
/*                                    media query                                    */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/*overlay*/
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 300;
  background-color: #000;
  opacity: 0.4;
  display: none;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*slide down menu*/
.mega-menu {
  position: relative;
}
@media (min-width: 992px) {
  .mega-menu:hover .cats-dispaly {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
}
html[dir="ltr"] .cats-dispaly {
  transform: translateX(-15%);
}
.cats-dispaly {
  position: absolute;
  /* left: 0; */
  inset-inline-start: 0;
  transform: translateX(15%);
  top: calc(100%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  /* width: max-content; */
  width: 200px;
  background-color: rgba(207, 162, 99, 0.97);
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: none;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}
.cats-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cats-dispaly li,
html[dir="rtl"] .cats-dispaly li {
  margin: 0;
}
.cats-dispaly li {
  width: 100%;
  padding: 0 5px;
}
.cats-dispaly li a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 8px;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}
.cats-dispaly li:last-of-type a {
  border-bottom: none;
}
.cats-dispaly li:hover > a {
  color: var(--sec-color);
}
.cat-li:hover > a {
  color: var(--sec-color);
}
html[dir="rtl"] .sub-list,
html[dir="rtl"] .sub-list-3 {
  left: auto;
  right: calc(100% + 1px);
}

.sub-list {
  position: absolute;
  top: 0;
  left: calc(100% + 1px);
  width: 100%;
  min-height: 100%;
  background-color: rgba(207, 162, 99, 0.97);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 10px 0;
}
.has-level-2:hover > .sub-list {
  opacity: 1;
  visibility: visible;
}
.sub-list-3 {
  position: absolute;
  top: 0;
  left: calc(100% + 1px);
  width: 100%;
  min-height: max-content;
  background-color: rgba(207, 162, 99, 0.97);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 10px 0;
}
.has-level-2 > a > i,
.has-level-3 > a > i {
  font-size: 14px;
}
html[dir="rtl"] .has-level-3 > a > i,
html[dir="rtl"] .has-level-2 > a > i {
  transform: scaleX(-1);
}
.has-level-3:hover > .sub-list-3 {
  opacity: 1;
  visibility: visible;
}
.btn-div > i {
  display: none;
}
@media (max-width: 991px) {
  .cats-div {
    align-items: center;
    padding: 0;
    width: unset;
    align-items: center;
  }
  .cats-dispaly::before {
    display: none;
  }
  .sub-list,
  .sub-list-3 {
    padding: 0;
  }
  .cats-dispaly,
  .sub-list-3,
  .sub-list,
  .has-level-2:hover > .sub-list,
  .has-level-3:hover > .sub-list-3 {
    min-width: unset;
    z-index: 99;
    padding: 0;
    height: unset;
    margin: 0 auto;
    background-color: transparent;
    justify-content: center;
  }
  .cats-dispaly li a {
    justify-content: space-between;
    font-size: 16px;
    color: var(--white-color);
  }
  .cats-dispaly li a {
    border-bottom: none;
  }
  .cats-dispaly li:hover > a {
    color: var(--white-color);
  }
  .cats-dispaly,
  .sub-list-3,
  .sub-list,
  .has-level-2:hover > .sub-list,
  .has-level-3:hover > .sub-list-3 {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
    padding-top: 10px;
  }
  html[dir="rtl"] .cats-dispaly {
    box-shadow: none;
  }
  .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="rtl"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="ltr"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  .btn-div > i {
    display: inline-flex;
    font-size: 14px;
  }
  .btn-div > i::before,
  .has-level-2 > a > i::before,
  .has-level-3 > a > i::before {
    content: "";
    margin-inline-start: 4px;
    display: flex;
    justify-content: center;
  }
  .btn-div.active > i::before,
  .has-level-2 > a.active > i::before,
  .has-level-3 > a.active > i::before {
    content: "";
  }
  /* .chevron-down::after {
    content: "";
    font-family: "line Awesome Free";
    font-size: 12px;
    margin-inline-start: 4px;
    font-weight: 900;
  }
  .active.chevron-down::after {
    content: "";
  } */
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 90px;
  right: 30px;
  display: none;
  z-index: 10;
  text-decoration: none !important;
}
.arrow-top i {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #c6c0bc;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top i:hover {
  background-color: var(--main-color);
}
.fixed-what {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  text-decoration: none !important;
}
.fixed-what i {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4dc247;
  font-size: 42px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fixed-what i:hover {
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .arrow-top {
    bottom: 80px;
    right: 14px;
  }
  .fixed-what {
    position: fixed;
    bottom: 30px;
    right: 10px;
  }
  .fixed-what i {
    width: 45px;
    height: 45px;
    font-size: 30px;
  }
}
/*               about page                 */
.breadcrumb-sec {
  position: relative;
  background-color: #ede6e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}
.breadcrumb-sec .page-head {
  font-size: 48px;
  color: var(--white-color);
  font-weight: 600;
  margin-bottom: 15px;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
}
html[dir="rtl"] .breadcrumb-sec .page-head {
  font-weight: 700;
}
ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 2;
}
ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 14px;
  color: #b1b5ba;
  font-weight: 500;
  text-decoration: none !important;
}
html[dir="rtl"] ol.breadcrumb li a,
html[dir="rtl"] ol.breadcrumb li span,
html[dir="rtl"] ol.breadcrumb li {
  font-weight: 400;
}
ol.breadcrumb li a:hover {
  color: var(--main-color);
}
ol.breadcrumb li:not(.active):after {
  content: "/";
  padding: 0 7px;
}
/*                           profile section                          */

.profile-section {
  width: 100%;
  position: relative;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-position: left;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 125px 0 110px;
  width: 50%;
  margin-inline-end: 0;
  margin-inline-start: auto;
}
html[dir="rtl"] .profile-cont {
  margin-inline-start: unset;
}
.profile-head {
  font-weight: 700;
  font-size: 36px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 35px;
}
.profile-pargh {
  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 35px;
}
.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 55px;
  background-color: var(--white-color);
  text-decoration: none !important;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  border-radius: 27px;
  border: none;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .profile-btn {
  font-weight: 400;
}
.profile-btn i {
  margin-inline-start: 12px;
}
.profile-btn:hover {
  color: var(--white-color);
  background-color: var(--main-hover);
}
@media (max-width: 767px) {
  .profile-section {
    padding-top: 300px;
    background-size: 100%;
    background-position: top;
  }
  .profile-cont {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
  }
  .profile-head {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .profile-pargh {
    margin-bottom: 30px;
  }
}
/*                           big-image section                          */

/*                               team-section                            */
.team-section {
  padding: 120px 0;
}
.team-head {
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  color: var(--main-hover);
  margin-bottom: 50px;
  text-align: center;
}
.team-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.team-box {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.team-box img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.team-name {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 5px;
  text-align: center;
}
html[dir="rtl"] .team-name {
  font-weight: 700;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  color: var(--main-hover);
  text-align: center;
}
@media (max-width: 767px) {
  .team-section {
    padding: 80px 0 40px;
  }
  .team-head {
    font-size: 28px;
  }
  .team-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .team-name {
    font-size: 15px;
  }
  .team-job {
    font-size: 14px;
  }
}
/*                               team-section                            */
/*                                design-page                            */
.custum-breadcrumb {
  padding: 130px 0;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.custum-breadcrumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.custum-breadcrumb ol.breadcrumb {
  justify-content: center;
}
.custum-breadcrumb ol.breadcrumb li a,
.custum-breadcrumb ol.breadcrumb li span,
.custum-breadcrumb ol.breadcrumb li {
  color: var(--white-color);
}
@media (max-width: 767px) {
  .custum-breadcrumb,
  .breadcrumb-sec {
    background: none !important;
    padding: 40px 0;
  }
  .custum-breadcrumb::after {
    display: none;
  }
  ol.breadcrumb {
    display: none;
  }
  .breadcrumb-sec .page-head {
    color: var(--main-color);
  }
}
.design-page-title {
  padding: 130px 0;
}
.design-title {
  font-weight: 500;
  font-size: 48px;
  color: var(--main-hover);
  text-align: center;
  margin-bottom: 0;
  padding: 0 15px;
}
html[dir="rtl"] .design-title {
  font-weight: 400;
}
.design-section {
  background-color: var(--main-color);
  padding: 100px 0;
}
.design-section-head {
  font-weight: 500;
  font-size: 48px;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 70px;
}
html[dir="rtl"] .design-section-head {
  font-weight: 400;
}
.design-cont {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.design-box {
  margin-bottom: 57px;
  position: relative;
  display: flex;
  align-items: center;
  max-height: 110px;
}
.design-box::before {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: calc(50%);
  inset-inline-start: 88%;
  transition: 0.3s;
  opacity: 1;
}
.design-box::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 50%;
  inset-inline-start: calc(87% + 90px);
  transform: translate(-50%, -40%);
  transition: 0.3s;
  opacity: 1;
}
html[dir="ltr"] .design-box::after {
  inset-inline-start: calc(88% + 90px);
  transform: translate(-50%, -40%) scaleX(-1);
}
.design-box:nth-of-type(3)::before {
  content: "";
  display: block;
  width: 26px;
  height: 164px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  background-color: transparent;
  border-color: #fff #fff #fff transparent;
  position: absolute;
  top: 50%;
  right: 88%;
  transform: scaleX(-1);
  transition: 0.3s;
  opacity: 1;
}

html[dir="ltr"] .design-box:nth-of-type(3)::before {
  right: auto;
  left: 88%;
  transform: none;
}
.design-box:nth-of-type(3)::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: auto;
  bottom: -111%;
  right: calc(88%);
  transform: scaleX(-1);
  transition: 0.3s;
  opacity: 1;
}
html[dir="ltr"] .design-box:nth-of-type(3)::after {
  right: auto;
  left: calc(88%);
  bottom: -111%;
  transform: none;
}
.design-box:nth-of-type(4)::after,
.design-box:nth-of-type(5)::after {
  inset-inline-start: calc(86%);
  transform: translate(-50%, -40%) scaleX(-1);
}
html[dir="ltr"] .design-box:nth-of-type(4)::after,
html[dir="ltr"] .design-box:nth-of-type(5)::after {
  left: calc(88%);
  transform: translate(-50%, -40%) scaleX(1);
}

.design-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 225px;
  width: 100%;
}
/* .design-box::after {
  content: url(../images/arrow.png);
  margin: auto 30px;
}
html[dir="rtl"] .design-box::after {
  transform: scaleX(-1);
}
.design-box:nth-of-type(3)::after {
  content: url(../images/big-arrow.png);
  transform: translateY(50%);
  position: absolute;
  inset-inline-end: -80px;
}
html[dir="rtl"] .design-box:nth-of-type(3)::after {
  transform: translateY(50%) scaleX(-1);
}
html[dir="rtl"] .design-box:nth-of-type(4)::after,
html[dir="rtl"] .design-box:nth-of-type(5)::after {
  transform: none;
}
.design-box:nth-of-type(4)::after,
.design-box:nth-of-type(5)::after {
  transform: scaleX(-1);
} */
.design-box:last-of-type::after,
.design-box:last-of-type::before {
  content: none;
}
.design-box i {
  font-size: 60px;
  color: var(--white-color);
  margin-bottom: 8px;
}
.design-box span {
  font-weight: 500;
  font-size: 24px;
  color: var(--white-color);
}
html[dir="rtl"] .design-box span {
  font-weight: 400;
}
@media (max-width: 991px) {
  .custum-breadcrumb {
    padding: 40px 0;
  }
  .page-head {
    font-size: 30px;
  }
  .design-page-title {
    padding: 20px 0 80px;
  }
  .design-title {
    font-size: 20px;
  }
  .design-section-head {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .design-section {
    padding: 80px 0 60px;
    overflow: hidden;
  }
  .design-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 320px;
    margin: 0 auto;
  }
  .design-box {
    margin-bottom: 40px;
    width: auto;
    justify-content: center;
  }
  .design-content {
    min-width: 130px;
  }
  .design-box:nth-of-type(1) {
    order: 1;
  }
  .design-box:nth-of-type(2) {
    order: 2;
  }
  .design-box:nth-of-type(3) {
    order: 4;
  }
  .design-box:nth-of-type(4) {
    order: 3;
  }
  .design-box:nth-of-type(5) {
    order: 5;
  }
  .design-box:nth-of-type(6) {
    order: 6;
  }
  .design-box::before {
    width: 45px;
    top: calc(40%);
    inset-inline-start: 88%;
  }
  .design-box::after {
    top: 40%;
    inset-inline-start: calc(114%);
  }
  html[dir="ltr"] .design-box::after {
    inset-inline-start: calc(117%);
  }
  .design-box:nth-of-type(2)::before {
    content: "";
    display: block;
    width: 22px;
    height: 116px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    background-color: transparent;
    border-color: #fff #fff #fff transparent;
    position: absolute;
    top: 40%;
    right: 90%;
    transform: scaleX(-1);
    transition: 0.3s;
    opacity: 1;
  }
  html[dir="ltr"] .design-box:nth-of-type(2)::before {
    right: auto;
    left: 90%;
    transform: none;
  }
  .design-box:nth-of-type(2)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: auto;
    bottom: -106.2%;
    right: calc(87%);
    transform: scaleX(-1);
    transition: 0.3s;
    opacity: 1;
  }
  html[dir="ltr"] .design-box:nth-of-type(2)::after {
    right: auto;
    left: calc(87%);
    bottom: -105.8%;
    transform: none;
  }
  .design-box:nth-of-type(3)::before {
    content: "";
    display: block;
    width: 45px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: calc(40%);
    right: auto;
    left: 84.5%;
    transition: 0.3s;
    opacity: 1;
    border: none;
  }

  html[dir="ltr"] .design-box:nth-of-type(3)::before {
    right: 84.5%;
    left: auto;
    transform: none;
  }
  .design-box:nth-of-type(3)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 35.6%;
    right: auto;
    left: calc(110.6%);
    transform: scaleX(-1);
    transition: 0.3s;
    opacity: 1;
  }
  html[dir="ltr"] .design-box:nth-of-type(3)::after {
    top: 35.2%;
    left: auto;
    right: calc(110.6%);
    bottom: auto;
    transform: none;
  }
  .design-box:nth-of-type(4)::before {
    content: "";
    display: block;
    width: 22px;
    height: 116px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    background-color: transparent;
    border-color: #fff #fff #fff transparent;
    position: absolute;
    top: 40%;
    right: auto;
    left: 90%;
    transform: scaleX(1);
    transition: 0.3s;
    opacity: 1;
  }
  html[dir="ltr"] .design-box:nth-of-type(4)::before {
    left: auto;
    right: 90%;
    transform: scaleX(-1);
  }
  .design-box:nth-of-type(4)::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: auto;
    bottom: -105.8%;
    right: auto;
    left: calc(87%);
    transform: scaleX(1);
    transition: 0.3s;
    opacity: 1;
  }
  html[dir="ltr"] .design-box:nth-of-type(4)::after {
    left: auto;
    right: calc(87%);
    bottom: -105.8%;
    transform: scaleX(-1);
  }
  .design-box:nth-of-type(5)::before {
    inset-inline-start: 86.4%;
  }
  .design-box:nth-of-type(5)::after {
    left: auto;
    right: calc(112.5%);
    transform: translate(-50%, -40%) scaleX(1);
  }
  html[dir="ltr"] .design-box:nth-of-type(5)::before {
    inset-inline-start: 86.4%;
  }
  html[dir="ltr"] .design-box:nth-of-type(5)::after {
    left: calc(115%);
    transform: translate(-50%, -40%) scaleX(-1);
  }
  .design-box:last-of-type::after,
  .design-box:last-of-type::before {
    content: none;
  }
  .design-box i {
    font-size: 40px;
  }
  .design-box span {
    font-size: 16px;
  }
}
/* Partners-section */
.Partners-section {
  padding: 130px 0 70px;
}
.partner-cont {
  padding-top: 15px;
}
.partner-head {
  font-weight: 700;
  font-size: 48px;
  color: var(--main-hover);
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: start;
}
.partner-pargh {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-hover);
  margin-bottom: 0;
  text-align: start;
  max-width: 90%;
}
.partner-img-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.partner-img-cont figure {
  margin-bottom: 0;
}
.partner-img-cont figure img {
  width: 100%;
}
@media (max-width: 991px) {
  .breadcrumb-sec .page-head {
    font-size: 36px;
  }
  .Partners-section {
    padding: 80px 0 30px;
  }
  .partner-head {
    font-size: 26px;
    text-align: center;
  }
  .partner-pargh {
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }
  .partner-cont {
    margin-bottom: 30px;
  }
  .partner-img-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
/*                                design-page                            */
/*                              supplies-page                              */
.custum-services .services-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 767px) {
  .custum-services .services-cont {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
/*                              supplies-page                              */
/*                              brands-page                              */
.brands-section {
  padding-bottom: 40px;
}
.brands-cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
.brands-cont a {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.brands-cont a:hover {
  transform: scale(1.05);
}
.brands-cont img {
  width: 100%;
}
@media (max-width: 767px) {
  .brands-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
/*                              brands-page                              */
/*                       tools-product-section                            */
.tools-product-section {
  padding: 80px 0;
  text-align: center;
}
.tools-head {
  font-weight: 600;
  font-size: 48px;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 50px;
}
html[dir="rtl"] .tools-head {
  font-weight: 700;
}
.tools-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.tools-ancor {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-hover);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .tools-ancor {
  font-weight: 400;
}
.tools-ancor:hover {
  color: var(--main-hover);
}
.tools-ancor figure {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}
.tools-ancor img {
  width: 100%;
}
.tools-name {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.tools-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.tools-ancor:hover .tools-hover {
  opacity: 1;
  visibility: visible;
}
.tools-hover .add-to-cart {
  width: 210px;
  height: 55px;
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.tools-hover .add-to-cart:hover {
  background-color: var(--main-hover);
  color: var(--white-color);
}
html[dir="rtl"] .tools-hover .add-to-cart {
  font-weight: 400;
}
.tools-hover .add-to-cart i {
  margin-inline-end: 10px;
  font-size: 24px;
}
@media (max-width: 991px) {
  .tools-product-section {
    padding: 0px 0 80px;
  }
  .tools-hover .add-to-cart {
    width: 180px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .tools-cont {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .tools-ancor figure {
    margin-bottom: 20px;
  }
  .tools-ancor {
    font-size: 16px;
  }
  .tools-name {
    margin-bottom: 0;
  }
}
/*                       tools-product-section                            */
/* quotation-form */
.quotation-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  top: -100%;
  transition: all 0.3s ease-in-out;
}
.quotation-form.reset {
  top: 50%;
}
.quotation-cont {
  width: 684px;
  height: 466px;
  background-color: var(--white-color);
  padding: 65px 55px;
  text-align: center;
}
.contact-head,
.quotation-head {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--main-hover);
  margin-bottom: 30px;
}
.contact-head,
html[dir="rtl"] .quotation-head {
  font-weight: 400;
}
.contact-cont {
  max-width: 600px;
  margin: 0 auto;
}
.contact-head {
  color: var(--main-color);
  margin-bottom: 50px;
  font-size: 36px;
}
.quotation-cont form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
}
.form-input {
  background-color: #fff;
  width: 100%;
  height: 54px;
  text-align: start;
  border: 2px solid #ebebeb;
  padding: 0 25px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 27px;
  caret-color: var(--main-color);
}
textarea.form-input {
  height: 104px;
  resize: none;
  padding: 16px 25px;
}
.form-input:focus {
  border-color: var(--main-color);
  outline: 0;
}
.quotation-button-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.send-form,
.quotation-button-cont .send-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 45px;
  border-radius: 22px;
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  text-transform: capitalize;
  margin-inline-end: 5px;
  transition: all 0.3s ease-in-out;
}
.send-form:hover,
.quotation-button-cont .send-form:hover {
  background-color: var(--main-hover);
}
.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.quotation-button-cont .cancel-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 45px;
  border-radius: 22px;
  background-color: #e6e6e6;
  color: #999999;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.send-form,
html[dir="rtl"] .quotation-button-cont .cancel-form,
html[dir="rtl"] .quotation-button-cont .send-form {
  font-weight: 400;
}
.quotation-button-cont .cancel-form:hover {
  color: var(--white-color);
  background-color: var(--main-hover);
}
@media (max-width: 767px) {
  .quotation-cont {
    width: 300px;
    height: 400px;
    padding: 40px 20px 20px;
  }
  .quotation-head {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .contact-head {
    font-size: 26px;
  }
  .quotation-cont form {
    padding: 0;
  }
  .form-input {
    height: 48px;
  }
  .quotation-button-cont .send-form,
  .quotation-button-cont .cancel-form {
    height: 40px;
  }
  .quotation-button-cont {
    margin-top: 10px;
  }
  .form-submit {
    margin-top: 20px;
  }
}
/* quotation-form */

/*our-work-section*/
.our-work-section {
  padding: 120px 0 100px;
}
.our-work-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.our-work-ancor {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.our-work-figure {
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.our-work-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
  max-height: 100%;
}
.our-work-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(207, 162, 99, 0.85);
  z-index: 1;
  font-size: 60px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.our-work-ancor:hover .our-work-hover {
  opacity: 1;
  visibility: visible;
}
.our-work-pagention {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.our-work-pagention a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-hover);
  width: 34px;
  height: 34px;
  margin-inline-end: 5px;
  line-height: 34px;
  background-color: #ede6e1;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .our-work-pagention a i {
  transform: scaleX(-1);
}
.our-work-pagention a.active,
.our-work-pagention a:hover {
  color: #fff;
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .our-work-section {
    padding: 20px 0 80px;
  }
  .our-work-cont {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
/* our-work-section */
